
h1 {
    color: rgb(48, 17, 17);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffdf88;
    color: rgb(53, 60, 66);
}

.anjay{
    margin-left: 8%;
    margin-top: 5%;

}

.anjay h1{
    font-size: 50px;
    margin-bottom: 20px;
}

span{
    color: rgb(126, 20, 20);
}

.anjay p{
    line-height: 22px;
    
}

.kotak {
    border-style: solid;
    width: 1340px;
    height: 80px;
    color:rgb(172, 111, 71) ;
    background: rgb(172, 111, 71);
}

.gambar {
    width: 70%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 60%;
}